In [5]:
#Importamos librerias
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

In [6]:
#Carga desde un archivo .csv sin Ã­ndice
data = pd.read_csv ('Ventas_totales.csv')
data.head(5)

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [27]:
#Identificar valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [9]:
#Realizamos una copia del dataframe
data1=data.copy()

In [32]:
valores_nulos = data1.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

**Primer eliminado salon_ventas**

In [10]:
#Quinto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ffill
#Filtro por columnas
data1 ["salon_ventas"] = data1 ["salon_ventas"].fillna (method= "ffill")

/var/folders/vk/htzm_z194jz4tflq2s4s86x80000gn/T/ipykernel_1402/2738868592.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1 ["salon_ventas"] = data1 ["salon_ventas"].fillna (method= "ffill")

**Segundo eliminado: tarjetas_debito**

In [11]:
#Tercer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por un valor nÃºmerico en concreto
#Ir comprobando en valores nulos
data1 ["tarjetas_debito"] = data1 ["tarjetas_debito"].fillna(8309150.301)

**Tercer eliminado: tarjetas_credito**

In [12]:
#Segundo mÃ©todo de sustitucion de valores nulos
#Sustituir valores nulos con mediana
data1["tarjetas_credito"]=data1["tarjetas_credito"].fillna(round(data1["tarjetas_credito"].median(),1))

**Cuarto eliminado: otros_medios**

In [13]:
#Tercer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por un valor nÃºmerico en concreto
#Ir comprobando en valores nulos
data1 ["otros_medios"] = data1 ["otros_medios"].fillna(328288.6951)

**Quinto eliminado: ventas alimentos**

In [14]:
#Primer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos con promedio o media
data1['subtotal_ventas_alimentos_bebidas']=data1['subtotal_ventas_alimentos_bebidas'].fillna(round(data['subtotal_ventas_alimentos_bebidas'].mean(),1)) #1 es el numero de decimales

**Sexto eliminado: bebidas**

In [15]:
#Sexto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrÃ¡s backward fill ("bfill")
#Filtro por columnas
data1 ["bebidas"] = data1 ["bebidas"].fillna(method="bfill")

/var/folders/vk/htzm_z194jz4tflq2s4s86x80000gn/T/ipykernel_1402/2355921956.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1 ["bebidas"] = data1 ["bebidas"].fillna(method="bfill")

**SÃ©ptimo eliminado: almacen**

In [16]:
#Primer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos con promedio o media
data1['almacen']=data1['almacen'].fillna(round(data['almacen'].mean(),2))

**Octavo eliminado: panaderia**

In [17]:
#Quinto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ffill
#Filtro por columnas
data1 ["panaderia"] = data1 ["panaderia"].fillna (method= "ffill")

/var/folders/vk/htzm_z194jz4tflq2s4s86x80000gn/T/ipykernel_1402/117122040.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1 ["panaderia"] = data1 ["panaderia"].fillna (method= "ffill")

**Noveno eliminado: lacteos**

In [18]:
#Segundo mÃ©todo de sustitucion de valores nulos
#Sustituir valores nulos con mediana
data1["lacteos"]=data1["lacteos"].fillna(round(data1["lacteos"].median(),1))

**DÃ©cimo eliminado: carnes**

In [19]:
#Sexto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrÃ¡s backward fill ("bfill")
#Filtro por columnas
data1 ["carnes"] = data1 ["carnes"].fillna(method="bfill")

/var/folders/vk/htzm_z194jz4tflq2s4s86x80000gn/T/ipykernel_1402/174418410.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1 ["carnes"] = data1 ["carnes"].fillna(method="bfill")

**Onceavo eliminado: verduleria_fruteria**

In [26]:
#Tercer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por un valor nÃºmerico en concreto
#Ir comprobando en valores nulos
data1 ["verduleria_fruteria"] = data1 ["verduleria_fruteria"].fillna(1.037213767854)

**Doceavo eliminado: alimentos_preparados_rotiseria**

In [25]:
#Quinto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ffill
#Filtro por columnas
data1 ["alimentos_preparados_rotiseria"] = data1 ["alimentos_preparados_rotiseria"].fillna (method= "ffill")

/var/folders/vk/htzm_z194jz4tflq2s4s86x80000gn/T/ipykernel_1402/3635454846.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1 ["alimentos_preparados_rotiseria"] = data1 ["alimentos_preparados_rotiseria"].fillna (method= "ffill")

**Treceavo eliminado: indumentaria_calzado_textiles_hogar**

In [29]:
#Primer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos con promedio o media
data1['indumentaria_calzado_textiles_hogar']=data1['indumentaria_calzado_textiles_hogar'].fillna(round(data['indumentaria_calzado_textiles_hogar'].mean(),2))

**Catorceavo eliminado: electronicos_articulos_hogar**

In [30]:
#Segundo mÃ©todo de sustitucion de valores nulos
#Sustituir valores nulos con mediana
data1["electronicos_articulos_hogar"]=data1["electronicos_articulos_hogar"].fillna(round(data1["electronicos_articulos_hogar"].median(),1))

**Quinceavo eliminado: otros**

In [33]:
#Tercer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por un valor nÃºmerico en concreto
#Ir comprobando en valores nulos
data1 ["otros"] = data1 ["otros"].fillna(2806660.309)

In [34]:
#Converti DF a CSV
data1.to_csv('ventas_totales_sin_nulos.csv')